////
/// Layout and width settings.
///
/// @group  Settings
/// @author David Jensen <david@dkjensen.com>
/// @link   https://dkjensen.com/themes/genesis-starter-theme
////

$layout--width: $mq-xl;
$layout--width--sidebar: 30rem;
$layout--width--content: calc(#{$layout--width} - (#{$layout--width--sidebar} + #{$spacing--xl}));
$layout--max-width--content: calc(100% - (#{$layout--width--sidebar} + #{$spacing--xl}));

