////
/// Avatar component.
///
/// @group  Components
/// @author David Jensen <david@dkjensen.com>
/// @link   https://github.com/dkjensen/genesis-starter-theme
////

.avatar {
	float: left;
	margin-right: $spacing--m;
	border-radius: $base--border--radius;
}
