////
/// Before footer component.
///
/// @group  Components
/// @author David Jensen <david@dkjensen.com>
/// @link   https://github.com/dkjensen/genesis-starter-theme
////

.before-footer {
	padding: $spacing--xl 0 $spacing--xl - $gutter;
	border-bottom: $base--border;
	background-color: $color--background;
}
